{% extends "common/base_django.html" %}
{% load static hash_static %}

{% block title %}HTMX Todo{% endblock %}

{% block body_content %}
     
    <div class="flex justify-center items-center">
        <div class="text-center">
            <h1 class="text-red-500 uppercase text-6xl font-thin my-4">HTMX Todo List</h1>
            <form>
    
                {% include "./todo_add.html" %}

                {% include "./partials/todo_lists.html" %}
    
            </form>
        </div>
    </div>

{% endblock %}
