{% load django_browser_reload %}
{% load static hash_static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    {% hash_static 'build/bundle.css' %}

    <script src="https://kit.fontawesome.com/69163e2cfc.js" crossorigin="anonymous"></script>

    <title>HTMX Todo</title>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    
    
    <div class="flex justify-center items-center">
        <div class="text-center"
            id="todos"
            hx-target="#todos"
            hx-swap="outerHTML">

            <h1 class="text-red-500 uppercase text-6xl font-thin my-4">HTMX Todo List</h1>

            {% include "./todo_add.html" %}

            {% include "./todo_list.html" with todo_list=todo_list %}

            <br/>

            {% include "./todo_list.html" with todo_list=complete_list %}

        </div>
    </div>

    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
  </body>
</html>
