{% extends "common/base_django.html" %}
{% load static hash_static %}

{% block title %}HTMX Todo{% endblock %}

{% block body_content %}
     
    <div class="flex justify-center items-center">
        <div class="text-center"
            id="todos"
            hx-target="#todos"
            hx-swap="outerHTML">

            <h1 class="text-red-500 uppercase text-6xl font-thin my-4">HTMX Todo List</h1>

            {% include "./todo_add.html" %}

            {% include "./todo_list.html" with todo_list=todo_list %}

            <br/>

            {% include "./todo_list.html" with todo_list=complete_list %}

        </div>
    </div>

{% endblock %}
