{% extends 'registration/base.html' %}
{% load widget_tweaks %}

{% block form_title %}Login{% endblock %}

{% block form_content %}

    <form method="POST" action="{% url 'login' %}" autocomplete="off" class="mt-4">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label class="text-left">{{ field.label_tag }}</label>
                {{ field.errors }}
                {% render_field field class="w-full" placeholder=field.name %}
            </div>
        {% endfor %}
        
        <button type="submit" class="w-full mb-4 hover:border-sky-600 hover:bg-slate-100">Login</button>
    </form>

    <a href="{% url 'register' %}">Register</a>

{% endblock %}